<!-- index.html -->

{% extends "base.html" %}

{% block title %}Simplex Calculator{% endblock %}
{% block header_title %}Simplex Calculator{% endblock %}
{% block content %}
    <main>
        <div id="setup-container">
            <h2 id="title-setup">Pré-Configuração do PPL</h2>
            <form id="form-setup" action="/ppl/setup" method="post">
                <input class="input-setup" type="number" name="num_variaveis" placeholder="Número de Variáveis" required><br>
                <input class="input-setup" type="number" name="num_restricoes" placeholder="Número de Restrições" required><br>
                <input class="input-setup" type="submit" value="Continuar">
            </form>
        </div>
    </main>
{% endblock %}
{% block project_description %}Simplex PPL Calculator{% endblock %}
{% block contributors %}Contributed by: John Doe{% endblock %}
