<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/405d096056.js" crossorigin="anonymous"></script>    <title>Simplex Calculator</title>
</head>
<body>
    <header>
        <div>
            <div id="logo-container" class="header-div-sub">
                <h3>Inatel</h3>
                <p>M210 - Otimização I</p>
            </div>
            <div id="title-container" class="header-div-sub">
                <h1 id="title">Simplex Calculator</h1>
            </div>
            <div id="icon-container" class="header-div-sub">
                <a href="https://github.com/Isaquehg/simplex-calculator">
                    <i className="fa fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h2>Coeficients</h2>
            <form action="/ppl/evaluate" method="post">
                {% for i in range(num_variaveis) %}
                    <label for="coef_objetivo{{ i }}">Coeficiente da Função Objetivo (C{{ i+1 }}):</label>
                    <input type="number" name="coef_objetivo{{ i }}" step="any" required><br>
                {% endfor %}
        
                {% for j in range(num_restricoes) %}
                    <p>Restrição {{ j+1 }}:</p>
                    {% for i in range(num_variaveis) %}
                        <label for="coef_restricao{{ j }}{{ i }}">Coeficiente A{{ j+1 }}{{ i+1 }}:</label>
                        <input type="number" name="coef_restricao{{ j }}{{ i }}" step="any" required><br>
                    {% endfor %}
                    <label for="lado_direito{{ j }}">Lado Direito da Restrição {{ j+1 }}:</label>
                    <input type="number" name="lado_direito{{ j }}" step="any" required><br>
                {% endfor %}
        
                <input type="submit" value="Calcular">
            </form>
        </div>
    </main>
    <footer>
        <div id="project-description-container">
            <p>Simplex PPL Calculator</p>
        </div>
        <div id="contributors-container">
            <p>Contributed by: </p>
        </div>
    </footer>
</body>
</html>