{% extends "base.html" %}

{% block title %}Simplex Calculator{% endblock %}
{% block header_title %}Simplex Calculator{% endblock %}
{% block content %}
    <main>
        <div id="calculate-container">
            <h2 id="title-calculate">Insira os Coeficientes do PPL</h2>
            <form id="form-calculate" action="evaluate" method="post">
                {% for i in range(num_variaveis) %}
                    <input class="input-calculate" type="number" name="coef_objetivo{{ i }}" placeholder="Coeficiente da Função Objetivo (C{{ i+1 }})" step="any" required><br>
                {% endfor %}
        
                {% for j in range(num_restricoes) %}
                    <h3 class="title-restricao-calculate">Restrição {{ j+1 }}:</h3>
                    <br>
                    {% for i in range(num_variaveis) %}
                        <input class="input-calculate" type="number"  placeholder="Coeficiente A{{ j+1 }}{{ i+1 }}" name="coef_restricao{{ j }}{{ i }}" step="any" required><br>
                    {% endfor %}
                    <input class="input-calculate" type="number" name="lado_direito_{{ j }}" placeholder="Lado Direito da Restrição {{ j+1 }}" step="any" required><br>
                    <select name="sinal_inequacao_{{ j }}" required>
                        <option value="greater">Maior que</option>
                        <option value="less">Menor que</option>
                    </select><br>
                {% endfor %}
                <br>
        
                <input class="input-calculate" type="submit" value="Calcular PPL">
            </form>
        </div>
    </main>
{% endblock %}
{% block project_description %}LLP Calculator using Simplex Method{% endblock %}
{% block contributors %}Contributed by: <a href="https://github.com/AlvaroLucioRibeiro">Álvaro Lúcio</a>, <a href="https://github.com/Isaquehg">Isaque Hollanda</a> & <a href="https://github.com/PedroLuisDionisioFraga">Pedro Dionísio</a>{% endblock %}

<link rel="stylesheet" href="../static/modelo-ppl.css">