{% extends "base.html" %}

{% block title %}Simplex Calculator{% endblock %}
{% block header_title %}Simplex Calculator{% endblock %}
{% block content %}
    <main>
        <div>
            <h2>Coeficients</h2>
            <form action="evaluate" method="post">
                {% for i in range(num_variaveis) %}
                    <label for="coef_objetivo{{ i }}">Coeficiente da Função Objetivo (C{{ i+1 }}):</label>
                    <input type="number" name="coef_objetivo{{ i }}" step="any" required><br>
                {% endfor %}
                <label for="coef_objetivo{{ i }}">Lado Direito da Função Objetivo:</label>
                <input type="number" name="lado_direito_fo" step="any" required><br>
        
                {% for j in range(num_restricoes) %}
                    <p>Restrição {{ j+1 }}:</p>
                    {% for i in range(num_variaveis) %}
                        <label for="coef_restricao{{ j }}{{ i }}">Coeficiente A{{ j+1 }}{{ i+1 }}:</label>
                        <input type="number" name="coef_restricao{{ j }}{{ i }}" step="any" required><br>
                    {% endfor %}
                    <label for="lado_direito{{ j }}">Lado Direito da Restrição {{ j+1 }}:</label>
                    <input type="number" name="lado_direito{{ j }}" step="any" required><br>
                {% endfor %}

                <label for="tipo_problema">Tipo de Problema:</label>
                <select name="tipo_problema" required>
                    <option value="max">Maximizar</option>
                    <option value="min">Minimizar</option>
                </select><br>
        
                <input type="submit" value="Calcular">
            </form>
        </div>
    </main>
{% endblock %}
{% block project_description %}Simplex PPL Calculator{% endblock %}
{% block contributors %}Contributed by: John Doe{% endblock %}

<link rel="stylesheet" href="../static/modelo-ppl.css">