{% extends "base.html" %}

{% block title %}Resultado Final{% endblock %}
{% block header_title %}Simplex Calculator{% endblock %}
{% block content %}
    <main>
        <div id="container-result">
            <h2 id="title-result">Resultado Final</h2>
            <table id="table-result">
                <tr>
                    <th>Valor Ótimo Variáveis</th>
                    <th>Preço-Sombra</th>
                </tr>
                <tr>
                    <td>{{ results.optimal_solution }}</td>
                    <td>{{ results.shadow_prices }}</td>
                </tr>
            </table>
            <h3 id="result-lucro">Lucro Ótimo: {{ results.profit }}</h3>
        </div>
    </main>
{% endblock %}
{% block project_description %}Description for the home page{% endblock %}
{% block contributors %}Contributed by: John Doe{% endblock %}
