{% extends "base.html" %}

{% block title %}Resultado Final{% endblock %}
{% block header_title %}Simplex Calculator{% endblock %}
{% block content %}
    <h2>Resultado Final</h2>
    
        <table>
            <tr>
                <th>Valor Ótimo Variáveis</th>
                <th>Preço-Sombra</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result.var }}</td>
                    <td>{{ result.precos_sombra }}</td>
                    <td>{{ result.lucro }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}
{% block project_description %}Description for the home page{% endblock %}
{% block contributors %}Contributed by: John Doe{% endblock %}
